body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 40px 20px;
    background: #faf6e5;
    color: #333;
    max-width: 800px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: rgb(250, 238, 216);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    margin-top: 0;
    color: #000000;
}

a {
    color: #b79421;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}